@page "/"
@using WebApp.V3.Services

@inject IWorkflowDefinitionService workflowDefinitionService
@inject NavigationManager navigationManager;

<h1>Welcome to our onboarding process!</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="processId">Process Identifier:</label>
        <input id="processId" class="form-control" @bind="@processIdentifier"/>
    </div>
    <div class="form-group">
        <label for="correlation">Correlation:</label>
        <input id="correlation" class="form-control" @bind="@correlation"/>
    </div>
    <div class="form-group">
    </div>
</form>

<button class="btn btn-primary" onclick=@StartOnBoardingProcess>Start OnBoarding Process</button>


@code{
    private string processIdentifier = "cb6b05a47db64b9a86c4166ec7e90409";
    private string? correlation;

    private async Task StartOnBoardingProcess()
    {
        var workflowsResponse = await workflowDefinitionService.StartWorkflowDefinition(processIdentifier, correlation);
        navigationManager.NavigateTo($"onboarding/{workflowsResponse.WorkflowInstanceId}");
    }

}