@page "/"
@using WebApp.V3.Services

@inject IWorkflowDefinitionService workflowDefinitionService
@inject NavigationManager navigationManager;

<h1>Welcome to our onboarding process!</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="processId">Process Identifier:</label>
        <input id="processId" class="form-control" @bind="@processIdentifier"/>
    </div>
    <div class="form-group">
        <label for="correlation">Correlation:</label>
        <input id="correlation" class="form-control" @bind="@correlation"/>
    </div>
    <div class="form-group">
    </div>
</form>

<button class="btn btn-primary" onclick=@StartOnBoardingProcess>Start OnBoarding Process</button>


@code{
    private string processIdentifier = "8f1d71c43c824cb7a4d7f70b70be22b9";
    private string? correlation;

    private async Task StartOnBoardingProcess()
    {
        var workflowsResponse = await workflowDefinitionService.StartWorkflowDefinition(processIdentifier, correlation);
        navigationManager.NavigateTo($"onboarding/{workflowsResponse.WorkflowInstanceId}");
    }

}