@page "/active-processes"
@using Elsa.OnBoardingProcess.PoC.Services
@using Elsa.OnBoardingProcess.PoC.Responses

@inject UserTaskService userTaskService;
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager;

<h1>Active processes</h1>

<table class="table">
    <thead>
    <tr>
        <th>Waiting At</th>
        <th>Description</th>
        <th>Start Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in workflowInstances)
    {
        <tr>
            <td>@item.UserTasks.FirstOrDefault()?.TaskTitle</td>
            <td>@item.UserTasks.FirstOrDefault()?.TaskDescription</td>
            <td>@item.StartDate</td>
            <td>
                <button class="btn btn-primary" @onclick="(() => ShowEditTenantModal(item))">Resume</button>
            </td>
        </tr>
    }
    </tbody>
</table>


<!-- Modal -->
<div class="modal" tabindex="-1" style="display: @(modalVisible ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" @bind="currentWorkflowInstance.WorkflowInstanceId"/>
                <div class="mb-3">
                    <label for="correlation" class="form-label">Correlation</label>
                    <input type="text" class="form-control" id="correlation" @bind="correlationId"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseEditModal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="CheckCorrelation">Resume</button>
            </div>
        </div>
    </div>
</div>


@code{
    private List<WorkflowInstanceUserTaskViewModel> workflowInstances = new List<WorkflowInstanceUserTaskViewModel>();
    private string selectedItemName;
    private string correlationId; 
    private WorkflowInstanceUserTaskViewModel currentWorkflowInstance = new();
    private bool modalVisible = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await userTaskService.GetWorkflowsWaitingOnUserTask();
        workflowInstances = response.ToList();
    }

    private void ShowEditTenantModal(WorkflowInstanceUserTaskViewModel workflowInstance)
    {
        currentWorkflowInstance = workflowInstance;
        modalVisible = true;
    }
    
    private async Task CheckCorrelation()
    {
        if (currentWorkflowInstance.Correlation == correlationId)
        {
            navigationManager.NavigateTo($"onboarding/{currentWorkflowInstance.WorkflowInstanceId}");
        }
        else
        {
            correlationId = string.Empty;
            await JSRuntime.InvokeVoidAsync("alert", $"Correlation does not match.");
        }
    }
    
    private void CloseEditModal()
    {
        modalVisible = false;
    }
}